<template>
  <div class="dashboard-container">
    <div class="dashboard-text" @click="upList">name: {{ name }}</div>
    <List :list="list" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
// import ListFunctional from "./components/functional/list";
import List from "./components/list";

export default {
  name: "Dashboard",
  components: { List },
  data() {
    return {
      list: ["hahhahah1", "hahhahah2", "hahhahah3", "hahhahah4", "hahhahah5"],
    };
  },
  computed: {
    ...mapGetters(["name"]),
  },
  methods: {
    upList() {
      console.log("click ", "upList");
      const str = this.list[2];
      // this.$set(this.list, 2, `${str}str`)
      this.list.splice(2, 1, `${str}str`);
      // this.list[2] += "str";
      // this.list[2] += 'str'
      console.log(this.list);
    },
  },
};
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
